body { padding: 40px 0 0 0; }

/* Override annoying responise navbar. */
@media (max-width: 979px) {
    .navbar-fixed-top {
        position: fixed;
        margin: 0;
    }

    .navbar-fixed-top .navbar-inner {
        padding: 0;
    }

    .navbar .brand {
        padding: 8px 10px 12px 20px;
        margin-left: -20px;
    }

    .navbar .nav {
        float: left;
        margin: 0 10px 0 0;
    }

    .navbar .nav > li {
        float: left;
    }

    .navbar .nav > li > a {
        padding: 10px 10px 11px;
        margin-bottom: 0;
        font-weight: normal;
    }
}

#content { padding: 0px; }
.page { display: none; margin-top: 15px; }

#home .logo { float: left; margin-right: 20px; margin-bottom: 15px;}
#home h2 { margin-bottom: 15px; }
#home h3 { margin-bottom: 15px; }
#home iframe { float: left; }
#home .tweet-button iframe { margin-right: 10px; }

#map { margin-top: 0; }
#map-canvas {
    width: 100%;
    position: absolute;
    left: 0;
}

#art h2 { margin-bottom: 15px; line-height: 28px; }
#art h6 { font-size: 12px; }
#art img { margin-bottom: 10px; }

@media (max-width: 979px) {
    #art img {
        max-width: 100%;
    }
}

#loading {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: white;
}

#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}


