<!DOCTYPE html>
<html>
<head>
    <title>Art map</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/reset.css" /> 
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" /> 
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" /> 
    <link rel='stylesheet' type='text/css' href="css/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="css/leaflet.ie.css" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="css/art.css" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">Artmap</a>

                <ul class="nav">
                    <li><a href="#map">Map</a></li>
                    <li><a href="#list">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="home" class="container-fluid page">
        <div class="row-fluid">
            <div class="span12">
                <h1>Welcome to the ArtMap!</h1>
                <p>Blah blah blah</p>
                <p>Show count of artworks here</p>
                <a href="#map">View the map</a>
            </div>
        </div>
    </div>

    <div id="map" class="container-fluid page">
        <div class="row-fluid">
            <div id="map-canvas" class="span12"></div>
        </div>
    </div>

    <div id="list" class="container-fluid page">
        <div class="row-fluid">
            <div class="span12">
                <ul id="artwork-list">
                    Waiting for data...
                </ul>
            </div>
        </div>
    </div>

    <div id="art" class="container-fluid page">
        <div class="row-fluid">
            <div class="span12">Waiting for data...</div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/leaflet.js"></script>
    <script type="text/javascript" src="js/wax.leaf.min.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js"></script>
    <script type="text/javascript" src="js/art.js"></script>

    <script type="text/html" id="artwork" class="template">
        <h1><%= title %></h1>
        <img src="<%= photo_url %>" />
        <h3>By <em><%= artist %></h3>
        <p>Medium: <%= medium %></p>
        <p><%= description || "<em>Description forthcoming...</em>" %></p>
        <p><% if (!creation_date) { %>Creation date unknown<% } else { %>Created on <%= creation_date %><% } %>.</p>
        <p>Last seen on <%= last_seen_date %>.</p>
        <a href="#map/<%= slug %>">View on map</a>
    </script>

    <script type="text/html" id="artwork-list-item" class="template">
        <a href="#art/<%= slug %>"><li><%= title %></li></a>
    </script>

    <script type="text/javascript">
        $(function() {
            $("script.template").each(function(i, t) {
                var el = $(t);
                
                ART.templates[el.attr("id")] = _.template(el.html());
            });

            window.ArtRoot = new ART.views.root();
            window.ArtRouter = new ART.routers.index({ root_view: ArtRoot }); 
            Backbone.history.start();
        });
    </script>
</body>
</html>

