<!DOCTYPE html>
<html>
<head>
    <title>Tyler Public Art</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="shortcut icon" href="favicon.gif" />
    <link rel="apple-touch-icon" href="TODO.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="TODO.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="TODO.png" />

    <link rel="stylesheet" type="text/css" href="css/reset.css" /> 
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" /> 
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" /> 
    <link rel='stylesheet' type='text/css' href="css/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="css/leaflet.ie.css" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="css/art.css" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23208042-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">TPA</a>

                <ul class="nav">
                    <li><a href="#map">Map</a></li>
                    <li><a href="#list">List</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="loading">
        <img src="img/ajax-loader.gif" />
    </div>

    <div id="home" class="container-fluid page">
        <div class="row-fluid">
            <div class="span12">
                <h2>Tyler Public Art</h2>
                <img class="logo" src="img/logo.png" />
                <p>Tyler Public Art aims to be a complete collection of publicly viewable artwork in Tyler, Texas. The art can be of any style and in any medium&mdash;the only requirement to be included is that it be on display to the public.</p>
                <p>The data about local artwork has been curated by the authors of this site. If you know something we missed please <a href="#contact">contact us</a>.</p>
                <p>Please note this website is designed with tablets and smart phones in mind, so you can take it with you around town!</p>

                <h3><a href="#map">Browse art on a map</a> or <a href="#list">as a list</a>.</h3>

                <div class="tweet-button">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="vertical" data-hashtags="tylerpublicart">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>

                <div class="like-button">
                    <iframe src="http://www.facebook.com/plugins/like.php?href=www.tylerpublicart.com&amp;send=false&amp;layout=box_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:90px;" allowTransparency="true"></iframe>
                </div>

                <hr style="clear: both;" />
                <p><strong>TPA</strong> is a <a href="http://hacktyler.com">Hack Tyler</a> project. Want to see more projects like this? <a href="https://groups.google.com/forum/?fromgroups#!forum/hacktyler">Join us</a>.</p>
                
            </div>
        </div>
    </div>

    <div id="map" class="container-fluid page">
        <div class="row-fluid">
            <div id="map-canvas" class="span12"></div>
        </div>
    </div>

    <div id="list" class="container-fluid page">
        <div class="row-fluid">
            <div class="span12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody id="artwork-list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="art" class="container-fluid page">
        <div class="row-fluid">
            <div class="span12">Waiting for data...</div>
        </div>
    </div>

    <div id="contact" class="container-fluid page">
        <div class="row-fluid">
            <div id="contact-form-wrapper">
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/leaflet.js"></script>
    <script type="text/javascript" src="js/wax.leaf.min.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js"></script>
    <script type="text/javascript" src="js/art.js"></script>

    <script type="text/html" id="artwork" class="template">
        <h6><%= type %></h6>
        <h2><%= title || "<em>Unknown</em>" %></h2>
        <% if (photo_url) { %>
            <img src="<%= photo_url %>" />
            <p class="photo-credit"><small><%= photo_credit %></small></p>
        <% } %>
        <p><i class="icon-search"></i> <a href="#map/<%= slug %>"><% if (address) { %><%= address %><% } else { %>Show on the map<% } %></a></p>
        <% if (artist) { %><h3>by <em><%= artist %></h3><% } %>
        <% if (description) { %><p><%= description %></p><% } %>
        <% if (install_date) { %><p>Installed on <%= install_date %>.<% } %>
        <hr />
        <p>This location was last verified on <%= last_seen_date %>. Is something missing or incorrect? Please <a href="#contact">contact us</a>.</p>
    </script>

    <script type="text/html" id="artwork-list-item" class="template">
        <tr>
            <td><a href="#art/<%= slug %>"><%= title || "<em>Unknown</em>" %></a></td>
            <td><%= artist %></td>
            <td><%= type %></td>
        </tr>
    </script>

    <script type="text/javascript">
        $(function() {
            $("script.template").each(function(i, t) {
                var el = $(t);
                
                ART.templates[el.attr("id")] = _.template(el.html());
            });

            window.ArtRoot = new ART.views.root();
            window.ArtRouter = new ART.routers.index({ root_view: ArtRoot }); 
            Backbone.history.start();
        });
    </script>
</body>
</html>

